[submodule "vim/bundle/python-mode"]
	path = vim/pack/vendor/start/python-mode
	url = https://github.com/python-mode/python-mode
[submodule "vim/bundle/vimproc"]
	path = vim/pack/vendor/start/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "rhythmbox/random-album-player"]
	path = rhythmbox/random-album-player
	url = https://github.com/javonharper/Rhythmbox-Random-Album-Player
[submodule "vim/bundle/vim-smarttabs"]
	path = vim/bundle/vim-smarttabs
	url = https://github.com/dpc/vim-smarttabs
[submodule "vim/bundle/indenttab"]
	path = vim/pack/vendor/start/indenttab
	url = https://github.com/vim-scripts/IndentTab
[submodule "vim/bundle/vim-ingo-library"]
	path = vim/pack/vendor/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
[submodule "vim/bundle/ultisnips"]
	path = vim/pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/bundle/vim-snippets"]
	path = vim/pack/vendor/start/vim-snippets
	url = https://github.com/honza/vim-snippets/
[submodule "vim/bundle/vim-gnomealign"]
	path = vim/bundle/vim-gnomealign
	url = https://github.com/schaeferpp/vim-gnomealign
[submodule "vim/bundle/ctrlp"]
	path = vim/pack/vendor/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundle/vim-fetch"]
	path = vim/pack/vendor/start/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch
