# This needs to be installed manually into /etc/systemd/system/

[Unit]
Description=Quickball media drive
Requires=network-online.target
After=network-online.target

[Mount]
What=//quickball.local/media
Where=/home/sam/External
Options=user=media,password=media,rw,noperm
Type=cifs

[Install]
WantedBy=multi-user.target
