[Unit]
Description=quickball media server
ConditionPathExists=/media/Quickball

[Mount]
What=//quickball.local/Media
Where=/media/Quickball
Options=user=pi,password=media,rw,noperm
Type=cifs

[Install]
WantedBy=default.target
