[Unit]
Description="Sync Youtube playlists from remote"

[Timer]
OnStartupSec=1h
OnUnitActiveSec=1d
Unit=sync-youtube-playlists.service

[Install]
WantedBy=default.target
