[Unit]
Description="Sync Rhythmbox playlists from local copy"

[Service]
ExecStart=/home/sam/.local/bin/playlists-export-for-rhythmbox /home/sam/Dropbox/Playlists /home/sam/.local/share/rhythmbox/playlists
Type=oneshot
